:root {
--green: hsl(75, 94%, 57%);
--white: hsl(0, 0%, 100%);
--grey-700: hsl(0, 0%, 20%);
--grey-800: hsl(0, 0%, 12%);
--grey-900: hsl(0, 0%, 8%);
}

body {
    font-size: 0.875; /* 14px */
    background-color: var(--grey-900);
    color: var(--white);
    text-align: center;
    font-family: "Inter", sans-serif;
}
/*
* {
    border: 1px solid red;
} */

.container {
    display: grid;
    width: 23.438rem; /* 357px */
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas:
    'my-pic'
    'my-name'
    'my-location'
    'my-interests'
    'github'
    'frontendmentor'
    'linkedin'
    'twitter'
    'instagram';
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 7.5rem; /* 120px */
    margin-bottom: 1.875rem; /* 30px */
    background-color: var(--grey-800);
    border-radius: 3%;

}

.my-pic {
    grid-area: my-pic;
    margin-top: 2.5rem; /* 40px */
    margin-bottom: 1.25rem; /* 20px */
}

.my-name {
    grid-area: my-name;
    margin-bottom: 0.625rem; /* 10px */
}

.my-location {
    grid-area: my-location;
    margin-bottom: 1.25rem; /* 20px */
    color: var(--green);
}

.my-interests {
    grid-area: my-interests;
    margin-bottom: 1.25rem; /* 20px */
}

.github {
    grid-area: github;
}

.frontendmentor {
    grid-area: frontendmentor;
}

.linkedin {
    grid-area: linkedin;
}

.twitter {
    grid-area: twitter;
}

.instagram {
    grid-area: instagram;
    margin-bottom: 2.5rem; /* 40px */
}

.duncan {
    border-radius: 50%;
}
.socials {
    background-color: var(--grey-700);
    padding: 0.625rem; /* 10px */
    margin-top: 0.938rem;
    border-radius: 0.25rem;
}

a {
    text-decoration: none;
    color: var(--white);
}

.socials:hover, a:hover, .socials:focus, a:focus{
    cursor: hand;
    background-color: var(--green);
    color: var(--grey-900);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (width < 1440px) {
 /*
    * {
        border: 1px solid red;
    } */

    .container {
        width: 20rem; /* 320px */
        border-radius: 8px;
    }
}
    
